.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 666px;
  grid-gap: 30px 30px;
  grid-auto-rows: calc(50% - 15px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b5.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  margin-top: 34px;
  margin-bottom: 0;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/pexels-hebert-santo-97084425.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-2 {
  margin-top: 34px;
  margin-bottom: 0;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/4fa35b60-d6ac-4d3a-a759-df3d049791865.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-3 {
  margin-top: 34px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/stomer-desires-portrait-good-looking-european-businesswoman-blue-blouse-glasses-holding-hands-pockets-smiling-being-friendl5.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-4 {
  margin-top: 34px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/pexels-reyna-montgomery-120937975.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-5 {
  margin-top: 34px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 83px;
  height: 83px;
  background-image: url("/static/img/pexels-kha-ruxury-128361295.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-6 {
  margin-top: 34px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  height: 2px;
  margin-left: 0;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 548px;
  }

  .u-section-1 .u-line-1 {
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    margin-left: initial;
  }

  .u-section-1 .u-line-3 {
    margin-left: initial;
  }

  .u-section-1 .u-line-4 {
    margin-left: initial;
  }

  .u-section-1 .u-line-5 {
    margin-left: initial;
  }

  .u-section-1 .u-line-6 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 974px;
    grid-auto-rows: calc(33.33% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 25px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}