<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Театр, Гамма, Цирк, цирковые выступления, купить билеты, билеты в цирк">
    <meta name="description" content="На данном веб-ресурсе Вы можете ознакомиться с общей информацией о Театре Гамма. Мы предлагаем посетить Вам наши цирковые выступления. В верхнем колонтитуле страницы Вы можете воспользоваться навигацией по сайту.">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>О нас • Театр Гамма</title>
          <link rel="icon" type="image/x-icon" href="/static/img/fav.png">
    <link rel="stylesheet" href="/static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/static/css/about.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/js/nicepage.js" defer=""></script>
    <link rel="canonical" href="www.teatr-gamma.ru">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Gamma",
		"url": "/",
		"logo": "/static/img/-1.png"
}</script>
    <meta property="og:title" content="О нас • Театр Гамма">
    <meta property="og:type" content="website">
    <meta property="og:description" content="На данном веб-ресурсе Вы можете ознакомиться с общей информацией о Театре Гамма. Мы предлагаем посетить Вам наши цирковые выступления. В верхнем колонтитуле страницы Вы можете воспользоваться навигацией по сайту.">
    <meta name="theme-color" content="#3e588b">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body u-xl-mode"><header class="u-align-left u-border-1 u-border-grey-25 u-clearfix u-header u-header" id="sec-8c91"><div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <a href="/" data-page-id="256739901" class="u-image u-logo u-image-1" data-image-width="463" data-image-height="323" title="Главная">
          <img src="/static/img/-1.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-arial" style="">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-arial u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="about" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="afisha" style="padding: 10px 20px;">Афиша</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="services" style="padding: 10px 20px;">Услуги</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="gallery" style="padding: 10px 20px;">Галерея</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="contacts" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="reviews" style="padding: 10px 20px;">Отзывы</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="about" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="afisha" style="padding: 10px 20px;">Афиша</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="services" style="padding: 10px 20px;">Услуги</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="gallery" style="padding: 10px 20px;">Галерея</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="contacts" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="reviews" style="padding: 10px 20px;">Отзывы</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-image u-section-1" id="sec-de23" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-bottom-right-radius-50 u-container-align-left-lg u-container-align-left-md u-container-align-left-xs u-container-style u-group u-shape-round u-top-right-radius-50 u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h1 class="u-align-left u-custom-font u-font-lobster u-text u-text-palette-3-base u-text-1">Театр Гамма</h1>
            <p class="u-align-left u-text u-text-2">"Гамма" - это место, где каждый выступающий артист настоящий профессионал, который умеет держать зрителей в напряжении до самого финала. Этот театр - это не просто развлечение, это настоящее искусство. Здесь вы сможете насладиться магией и красотой цирка во всей его славе.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-section-2" id="sec-c607" data-image-width="2000" data-image-height="1156">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-1">Театр Гамма</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <p class="u-align-center u-text u-text-2">Театр "Гамма" - это место, где вы сможете ощутить настоящий дух цирка. Основанный в 2000 году, он предлагает удивительные выступления цирковых артистов, которые умеют виртуозно владеть любыми реквизитами - от гимнастических колец и шаров до жонглирования огнем. Здесь вы сможете погрузиться в мир фантазии и волшебства, наслаждаясь яркими костюмами, яркими световыми эффектами и музыкальным сопровождением.</p><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/b403eaf8a0a65bf894516981/2909994.png" alt=""></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-3-light-3 u-section-3" id="carousel_539a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center-xs u-custom-font u-font-lobster u-text u-text-1">Наша команда</h2>
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-60">
                <div class="u-layout-row">
                  <div class="u-align-center-lg u-align-center-xl u-container-style u-layout-cell u-size-20 u-white u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <div class="u-image u-image-circle u-image-1" alt="" data-image-width="854" data-image-height="854"></div>
                      <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-2">Мистер Попкорн</h5>
                      <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-3">отвечает за сытость всех гостей</p>
                    </div>
                  </div>
                  <div class="u-align-center-lg u-align-center-xl u-container-style u-layout-cell u-size-20 u-white u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <div class="u-image u-image-circle u-image-2" alt="" data-image-width="1280" data-image-height="874"></div>
                      <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-4">Повелительница собак</h5>
                      <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-5">она - лучшая подруга лучших друзей человек</p>
                    </div>
                  </div>
                  <div class="u-align-center-lg u-align-center-xl u-container-style u-layout-cell u-size-20 u-white u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <div class="u-image u-image-circle u-image-3" alt="" data-image-width="586" data-image-height="880"></div>
                      <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-6">Владычеца змей</h5>
                      <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-7">никто не любит их так, как она</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-2">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <div class="u-image u-image-circle u-image-4" alt="" data-image-width="834" data-image-height="1500"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-8">Фокусник</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-9">ловкость рук, никакого мошенничества</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-5">
                <div class="u-container-layout u-valign-bottom u-container-layout-5">
                  <div class="u-image u-image-circle u-image-5" alt="" data-image-width="1200" data-image-height="857"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-10">Укротитель ножей</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-11">настоящий индийский йог</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-6">
                <div class="u-container-layout u-container-layout-6">
                  <div class="u-image u-image-circle u-image-6" alt="" data-image-width="278" data-image-height="334"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-12">Клоун</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-13">отвечает за сытость всех гостей</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-3">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-7">
                <div class="u-container-layout u-valign-top u-container-layout-7">
                  <div class="u-image u-image-circle u-image-7" alt="" data-image-width="1024" data-image-height="708"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-14">Африканский дикобраз</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-15">такого Вы ещё не видели</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-8">
                <div class="u-container-layout u-valign-top u-container-layout-8">
                  <div class="u-image u-image-circle u-image-8" alt="" data-image-width="1024" data-image-height="768"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-16">Козёл</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-17">ловкость рук, никакого мошенничества</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-9">
                <div class="u-container-layout u-container-layout-9">
                  <div class="u-image u-image-circle u-image-9" alt="" data-image-width="1040" data-image-height="801"></div>
                  <h5 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-palette-3-base u-text-18">Милашкинс</h5>
                  <p class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-19">отвечает за мимимишность мероприятия</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-3-base u-section-4" id="carousel_a36c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">500</h3>
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-2">проведённых выступлений</h5>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">140</h3>
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-4"> довольных семей</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">20</h3>
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-6">лет на рынке</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">56</h3>
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-8">населённых пунктов</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-section-5" id="sec-64e1" data-image-width="2000" data-image-height="1156">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/b014eeb4ac5157a79206d596/3500896.png" alt=""></span>
                <p class="u-align-center u-text u-text-1">Будьте уверены, что посещение театра "Гамма" оставит у вас незабываемые впечатления и запомнится на всю жизнь.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3e8e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© ООО «ТЕАТР ГАММА», 2023<br>Все права защищены.
        </p>
      </div></footer>
  </body>
</html>