<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin panel</title>
</head>
<body>
    <h1>Управление сайтом</h1>
    <h3>Мероприятия</h3>
    <a href="/events" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Список мероприятий</a>
    <a href="/create_event" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Создать мероприятие</a>
    <a href="/create_hall" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Создать зал</a>
    <h3>Ссылки</h3>
    <a href="/links" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Список ссылок</a>
    <a href="/create_link" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Создать ссылку</a>
    <h3>Настройки</h3>
    <a href="/settings" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Настройки сайта</a>
    <a href="https://ruvds.com/ru-rub/my/servers" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Хостинг</a>
    <a href="https://business.tinkoff.ru/oplata/main" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Эквайринг</a>
    <a href="https://webhost1.ru/bp/orders" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Домен + DNS</a>





</body>
</html>