<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое мероприятие</title>
</head>
<body>
<h1>Новое мероприятие</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3>Информация о мероприятии</h3>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control") }}<br>
        {% for error in form.date.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <h3>Информация о зале</h3>
    <select id="halls" name="halls">
        {% for hall in halls %}
        <option value="{{hall.id}}">{{hall.title}}</option>
        {% endfor %}
  </select>
    Если нужного зала нет в списке, Вы можете <a href="/create_hall">создать новый зал</a>
    <h3>Картинка Афиша</h3>
    <select id="images" name="images">
        {% for image in images %}
        <option value="{{image}}">{{image}}</option>
        {% endfor %}
  </select>
    Если нужной картинки нет в списке, Вы можете <a href="/upload">загрузить новую картинку</a>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</body>
</html>