<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый зал</title>
</head>
<body>
<h1>Новый зал</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3>Информация о зале</h3>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.locality.label }}<br>
        {{ form.locality(class="form-control") }}<br>
        {% for error in form.locality.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(class="form-control") }}<br>
        {% for error in form.location.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <h3>Базовый зал</h3>
    <p>
        {{ form.hall_length.label }}<br>
        {{ form.hall_length(class="form-control") }}<br>
        {% for error in form.hall_length.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.hall_width.label }}<br>
        {{ form.hall_width(class="form-control") }}<br>
        {% for error in form.hall_width.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</body>
</html>