{% extends 'base.html' %}

{% block content %}
<form method="post">
    <h1>Зал {{name}}: редактирование</h1>
    <table>
        <tbody>
        {% for row in data %}
            <tr><td>ряд {{row[0][0]}}</td>
            {% for place in row %}
            <td><button name="button" style="{{place[2]}}" value="n_{{place[0]}}_{{place[1]}}">{{place[1]}}</button></td>
            {% endfor %}
                <td><input type="text" name="{{row[0][0]}}" value="{{row[0][-1]}}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button name="button_save">Сохранить стоимость</button>
<br>
    Условные обозначения:
    <table>
        <tbody>
        <tr><td><button name="example" style="background-color: red" disabled>Х</button> </td><td>место удалено</td>
        <tr><td><button name="example" disabled>Х</button> </td><td>место доступно</td>
        </tbody>
    </table>
    </form>
{% endblock %}