{% extends 'base.html' %}

{% block content %}
<form method="post">
    <h1>Зал {{hall_data.title}}: редактирование</h1>
    <table>
        <tbody>
        {% for row in data %}
            <tr><td>ряд {{row[0][0]}}</td>
            {% for place in row %}
            <td><button name="button" style="{{place[2]}}" value="n_{{place[0]}}_{{place[1]}}">{{place[1]}}</button></td>
            {% endfor %}
                <td><input type="text" name="{{row[0][0]}}" value="{{row[0][-1]}}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="button_save">Сохранить стоимость</button>
<br>
    Условные обозначения:
    <table>
        <tbody>
        <tr><td><button name="example" style="background-color: red" disabled>Х</button> </td><td>место удалено</td>
        <tr><td><button name="example" disabled>Х</button> </td><td>место доступно</td>
        </tbody>
    </table>
    Доступные действия:<br>

    <!-- Добавить пустой столбец (проход) -->
    <button type="button" name="add_empty_col"
        onclick="
            var colNum = prompt('Перед каким столбцом Вы хотите добавить пустой столбец? (Введите номер)');
            if (colNum) {
                window.location.replace('/add_col?hall_id={{hall_data.id}}&col_num=' + encodeURIComponent(colNum));
            }
        ">
        Добавить пустой столбец (проход)
    </button><br>

    <!-- Добавить пустой ряд -->
    <button type="button" name="add_empty_row"
        onclick="
            var rowNum = prompt('Перед каким рядом Вы хотите добавить пустой ряд? (Введите номер)');
            if (rowNum) {
                window.location.replace('/add_row?row_num=' + encodeURIComponent(rowNum));
            }
        ">
        Добавить пустой ряд
    </button><br>
</form>
{% endblock %}