{% extends 'base.html' %}

{% block content %}
    <h1>Мероприятия</h1>
    <a href="/create_event">Создать новое мероприятие -></a>
    <h3>Список мероприятий:</h3>
    <table>
    <thead>
    <th>id</th><th>Название</th><th>Зал</th><th>id зала</th><th>Населённый пункт</th><th>Локация</th><th>Дата</th><th>Время</th>
    </thead>
      <tbody>
      {% for el in data %}
          <div>
              <samp>
                <form method="post">
                    <tr>
                        <td>{{el.id}}</td>
                        <td><input type="text" name="title" value="{{el.title}}"></td>
                        <td><input type="text" name="hall" value="{{halls[el.id - 1].title}}"></td>
                        <td>{{halls[el.id - 1].id}}</td>
                        <td><input type="text" name="locality" value="{{halls[el.id - 1].locality}}"></td>
                        <td><input type="text" name="location" value="{{halls[el.id - 1].location}}"></td>
                        <td><input type="text" name="date" value="{{el.date}}" style="width: 70px;"></td>
                        <td><input type="text" name="time" value="{{el.time}}" style="width: 35px;"></td>
                        <td><label><input type="checkbox" name="checkbox" {{ 'value="отмечено" checked' if el.active == 1 else 'value="не отмечено"' }}>доступно</label></td>
                        <td>
                            <input type="submit" name="{{el.id}}" value="<- Сохранить">
                        </td>
                        <td>
                            <a href="/edit_hall/{{el.id}}">Редактировать зал -></a>
                        </td>
                    </tr>
                </form>

             </samp>
          </div>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
