<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Театр, Гамма, Цирк, цирковые выступления, купить билеты, билеты в цирк">
    <meta name="description" content="На данном веб-ресурсе Вы можете ознакомиться с общей информацией о Театре Гамма. Мы предлагаем посетить Вам наши цирковые выступления. В верхнем колонтитуле страницы Вы можете воспользоваться навигацией по сайту.">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Галерея • Театр Гамма</title>
            <link rel="icon" type="image/x-icon" href="/static/img/fav.png">
    <link rel="stylesheet" href="/static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/static/css/gallery.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Gamma",
		"url": "/",
		"logo": "/static/img/-1.png"
}</script>
    <meta property="og:title" content="Галерея • Театр Гамма">
    <meta property="og:type" content="website">
    <meta property="og:description" content="На данном веб-ресурсе Вы можете ознакомиться с общей информацией о Театре Гамма. Мы предлагаем посетить Вам наши цирковые выступления. В верхнем колонтитуле страницы Вы можете воспользоваться навигацией по сайту.">
    <meta name="theme-color" content="#3e588b">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body u-xl-mode"><header class="u-align-left u-border-1 u-border-grey-25 u-clearfix u-header u-header" id="sec-8c91"><div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <a href="/" data-page-id="256739901" class="u-image u-logo u-image-1" data-image-width="463" data-image-height="323" title="Главная">
          <img src="/static/img/-1.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-arial" style="">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-arial u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="about" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="afisha" style="padding: 10px 20px;">Афиша</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="services" style="padding: 10px 20px;">Услуги</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="gallery" style="padding: 10px 20px;">Галерея</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="contacts" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="reviews" style="padding: 10px 20px;">Отзывы</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="about" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="afisha" style="padding: 10px 20px;">Афиша</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="services" style="padding: 10px 20px;">Услуги</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="gallery" style="padding: 10px 20px;">Галерея</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="contacts" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="reviews" style="padding: 10px 20px;">Отзывы</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-container-align-center u-image u-section-1" id="sec-04e2" data-image-width="2000" data-image-height="1156">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-1">Галерея</h2>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="586" data-image-height="880">
                <img class="u-back-image u-expanded" src="/static/img/IMG_0754.png">
              </div>
              <div class="u-over-slide u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1024" data-image-height="708">
                <img class="u-back-image u-expanded" src="/static/img/IMG_0083.png">
              </div>
              <div class="u-over-slide u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1200" data-image-height="813">
                <img class="u-back-image u-expanded" src="/static/img/IMG_0080.png">
              </div>
              <div class="u-over-slide u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="583" data-image-height="880">
                <img class="u-back-image u-expanded" src="/static/img/IMG_0755.png">
              </div>
              <div class="u-over-slide u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="960" data-image-height="639">
                <img class="u-back-image u-expanded" src="/static/img/IMG_07571.png">
              </div>
              <div class="u-over-slide u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="/static/img/IMG_0781.png">
              </div>
              <div class="u-over-slide u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <a href="https://vk.com/skvortcova_circus" class="u-active-black u-border-active-palette-2-base u-border-hover-palette-2-base u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-3-base u-radius-50 u-text-active-white u-text-body-color u-text-hover-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">больше картинок</a>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3e8e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© ООО «ТЕАТР ГАММА», 2023<br>Все права защищены.
        </p>
      </div></footer>
  </body>
</html>