{% extends 'base.html' %}

{% block content %}
<form method="post" novalidate>
    <h1>Мероприятие {{event.title}}</h1>
    <h2>схема зала</h2>
    <p style="color: red">{{event.message|safe}}</p>
    <table>
        <tbody>
        {% for row in data %}
            <tr><td>ряд {{row[0][0][0]}} (цена - {{row[0][-1][-1]}}₽)</td>
            {% for place in row %}
                {% if place[-1][0] != "deleted" %}
                    <td><button name="button" style="{{place[1][0]}}" value="n_{{place[0][0]}}_{{place[0][1]}}" {{place[1][1]}}>{{place[0][1]}}</button></td>
                {% else %}
                    <td><button name="button" style="visibility: hidden" value="there is no place"></button></td>
                {% endif %}

            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    Условные обозначения:
    <table>
        <tbody>
        <tr><td><button name="example" style="background-color: yellow" disabled>Х</button> </td><td>место забронировано</td>
        <tr><td><button name="example" style="background-color: red" disabled>Х</button> </td><td>место занято</td>
        <tr><td><button name="example" disabled>Х</button> </td><td>место свободно</td>
        </tbody>
    </table>
    <h3>Пользователь {{user}} <a href="/logout" title="Выйти">Выйти</a></h3>
    <h3>В корзине {{basket[0]}} билет(a) на сумму {{basket[1]}}₽ <a href="/basket" title="Оплата">Перейти к оплате</a></h3>
</form>
{% endblock %}
